<footer class="site-footer">
        <div class="container">
            <div class="site-footer__grid">
                <div class="site-footer__column">
                    <h3 class="site-footer__logo">DOMABLY</h3>
                    <p>Encuentra la propiedad de tus sueños. Te acompañamos en cada paso del camino.</p>
                </div>
                <div class="site-footer__column">
                    <h4>Explora</h4>
                    <ul>
                        <li><a href="properties.html?category=terrenos">Terrenos</a></li>
                        <li><a href="properties.html?category=casas">Casas</a></li>
                        <li><a href="properties.html?category=departamentos">Departamentos</a></li>
                        <li><a href="properties.html?category=desarrollos">Desarrollos</a></li>
                        <li><a href="contact.php">Contacto</a></li>
                    </ul>
                </div>
                <div class="site-footer__column">
                    <h4>Contáctanos</h4>
                    <p><i class="icon-phone"></i> (52) 999-763-2818</p>
                    <p><i class="icon-email"></i> <a href="mailto:info@cedralsales.com">info@cedralsales.com</a></p>
                    <p><i class="icon-location"></i> Cancún, Quintana Roo, México</p>
                </div>
                <div class="site-footer__column">
                    <h4>Síguenos</h4>
                    <div class="site-footer__socials">
                        <a href="#" class="site-footer__social-link" target="_blank"><img src="../../public/images/icons/facebook-icon.png" alt="Facebook"></a>
                        <a href="#" class="site-footer__social-link" target="_blank"><img src="../../public/images/icons/instagram-icon.png" alt="Instagram"></a>
                        <a href="#" class="site-footer__social-link" target="_blank"><img src="../../public/images/icons/twitter-icon.png" alt="Twitter"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-footer__bottom">
            <p>&copy; <span id="year"></span> DOMABLY. Todos los derechos reservados.</p>
        </div>
    </footer>
